<!-- exams_etudiant.ejs -->
<h1><%= examen.title %></h1>
<div>Bienvenu, <%= utilisateur.nom %></div>
<form>
  <% examen.questions.forEach((question, index) => { %>
  <div>
    <h3><%= question.question %></h3>
    <% question.options.forEach(option => { %>
    <label>
      <input
        type="checkbox"
        name="question<%= index %>"
        value="<%= option %>"
      />
      <%= option %>
    </label>
    <% }) %>
  </div>
  <% }) %>
</form>
